<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <h3>Retrieve Users Who Liked Media Of</h3>
    	<fieldset>
    		<div class = "form-group">	
    			Username:<br>
  	  			<input id="username" type="text" name="username" class="form-control"><br>
    		</div>
    		<div class = "form-group">
				<button id="lmoButton" type="button" class="btn btn-primary btn-lg">Find Users!</button>	
			</div>
			<br>
    	</fieldset>
    
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <h3>Retrieve Users Who Tagged Media With</h3>
    	<fieldset>
    		<div class = "form-group">	
    			Tag:<br>
  	  			<input type="text" name="username" class="form-control"><br>
    		</div>
    		<div class = "form-group">
    			<div class="checkbox">
  					<label><input type="checkbox" value="">Retrieve Users Who Liked The Media</label>
				</div>
			</div>
    		<div class = "form-group">
				<button type="button" class="btn btn-primary btn-lg">Find Users!</button>	
			</div>
			<br>
    	</fieldset>
    
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <h3>Retrieve Users From The Given Location</h3>
    	<fieldset>
    		<div class = "form-group">	
    			Longitude:<br>
  	  			<input type="text" name="username" class="form-control"><br>
    		</div>
    		<div class = "form-group">	
    			Latitude:<br>
  	  			<input type="text" name="username" class="form-control"><br>
    		</div>
    		<div class = "form-group">
				<button type="button" class="btn btn-primary btn-lg">Find Users!</button>	
			</div>
    	</fieldset>
    
    </div>
  </div>
</div>

